<h1 align = "center">The current date and time is:</h1>
<strong><h3 align = "center"><%= @localtime %></h3></strong>

<ul>
	<li><a href="/day/Mon">Monday</a></li>
	<li><a href="/day/Tue">Tuesday</a></li>
	<li><a href="/day/Wed">Wednesday</a></li>
	<li><a href="/day/Thu">Thursday</a></li>
	<li><a href="/day/Fri">Friday</a></li>
	<li><a href="/day/Sat">Saturday</a></li>
</ul>